form {
  padding-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-input {
  width: 20%;
  height: 40px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 10px;
  background-color: #f8f8f8;
}
.form-button {
  margin-left: 10px;
  width: 100px;
  height: 40px;
  border-radius: 10px;
  background-color: #f8f8f8;
}
